body{
	color: #40514E;
	margin:0;
	text-align: center;
	font-family: 'Merriweather',serif;
}
h1{
	font-size: 5.625rem;
	line-height: 2;
	margin: 50px 0 auto 0;
	font-family:  'Segoe Script',cursive;
	color: #66BFBF;
}
h2{
	font-family: 'Montserrat',sans-serif;
	font-size: 2.5rem;
	color: #66BFBF;
	font-weight: normal;
	padding-bottom:  10px;
}
h3{
	font-family: 'Montserrat',sans-serif;
	color: #11999E;
}
a{
	color: #11999E;
	font-family: 'Montserrat',sans-serif;
	margin: 10px 20px;
	text-decoration: none;
}
a:hover{
	color:#EAF6F6;
}
.top-container{
	background-color: #E4F9F5;
	position: relative;
	padding-top: 100px;
}
.middle-container{
	margin: 100px 0;
}
.bottom-container{
	background-color: #66BFBF;
	padding:50px 0 20px 0;
}
.skill-row{
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
}
p{
	line-height: 2;
}
.intro{
	width: 30%;
	margin: auto;
}
.contact-message{
	width: 40%;
	margin: 40px auto 40px auto;
}
.top-cloud{
	position: absolute;
	right: 300px;
	top: 50px;
}
.bottom-cloud{
	position: absolute;
	left: 300px;
	bottom:300px;
}
.computer-img{
	width: 25%;
	float: left;
	margin-right: 30px;
}
.developer-img{
	width: 25%;	
	float: right;
	margin-left: 30px;
}
hr{
	border-style: none;
	border-top-style: dotted;
	border-color: #99ffdd;
	border-width: 6px;
	width: 4%;

}
.push-ups-img{
	width: 25%;
	float: left;
	margin-right: 30px;
}
.dog-img{
	width: 25%;	
	float: right;
	margin-left: 30px;
}
/*.btn {
   background: #11cdd4;
   background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
   background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
   background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
   background-image: -o-linear-gradient(top, #11cdd4, #11999e);
   background-image: linear-gradient(to bottom, #11cdd4, #11999e);
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat',sans-serif;
   font-size: 20px;
   padding: 20px;
   text-decoration: none;
}

.btn:hover {
   background: #30e3cb;
   background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
   text-decoration: none;
}*/
.btn{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	background-color: #11cdd4;
}

.btn:hover{
	background-color: #30e3cb;
	color: #000;
}
.copyright{
	color: #EAF6F6;
	font-size: 0.75rem;
	padding: 20px 0;
}
